@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


.nav-primary{
    margin: 0;
    padding: 0;

    width: 100%;
}

/*------------------------*/
/* Navbar*/
.entity {
    width: 8rem;
    margin: 0 1.5rem;
    color: #fff;
    fill: currentcolor;
    cursor: pointer;
  }

.nav-secondary{
     width: 100%;
}
.logotipo {
	
    padding: 15;
    width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #2d2d2d;
    list-style: none;
    

}
.logotipo .lista-P{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: .0rem;
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;

}
.logotipo .lista-p{
    font: 12px/1.6 Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;

    display: inline-block;
    padding: 15px 50px;
}

.lista-p a{
    text-decoration: none;
    color: white;
    display: block;

}


.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #eee;
}

.menu .lista{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .035rem;
    font-weight: 600;
}

.lista-r{
    float: right;
}

.lista a{
    text-decoration: none;
    color: hsla(0,0%,0%,.7);
    display: block;
    padding: 15px 50px;
   
}
.lista a:hover{
    background-color: #d01345;
    color: #fff;
}

/*--------------------------------------------------------------

*-------------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: white;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  letter-spacing: 1.5px;
}

.inspired-by {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  color: #f8f8f8;
  font-size: 14px;
}

.store {
  position: relative;
  left: 50%;
  display: inline-block;
  max-width: 100%;
  width: 50%;
  margin: 50px auto 25px;
  padding: 20px 0;
  clear: both;

}

.store__header {
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;

  padding: 30px 30px 45px;
  background: #f8f8f8;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.store__logo-wrapper {
  flex: 0 0 35%;
  
}
.store__logo-wrapper svg{
  color: rgba(0, 0, 0, 0.6);
  width: 120px;
  margin-top: 0%;
  margin-left: 0;
}

.store__logo {
  display: block;
  width: 50px;
  height: auto;
  margin-left: 15px;
  
  
}

.store__header-info {
  flex: 1 0 50%;
  align-items: center;
}

.store__date,
.store__ref {
  display: block;
  font-size: 19px;
  color: #aaa;
  font-weight: 300;
}

.store__date {
  margin-bottom: 5px;
}

.store__subheader-wrapper {
  background: #f8f8f8;
  padding-bottom: 20px;
}

.store__subheader {
  padding: 0 45px 0 40px;
  border-left: 5px solid rgba(0, 0, 0, 0.6);
 
}

.store__username {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.store__help-text {
  color: #aaa;
  font-weight: 300;
}

.store__cart {
  display: block;
  padding: 25px 30px 45px;
}

.store__cart-title {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.store__cart-list {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

.store__cart-item {
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 2px dashed #aaa;

  font-size: 18px;
}

.store__cart-item:first-child {
  border-top: 0;
}



.store__index {
  padding-right: 15px;
  color: #aaa;
  font-weight: 300;
}

.store__item-name {
  color: #aaa;
  font-weight: 300;
}

.store__item-price {
  float: right;
  
  letter-spacing: 1px;
}

.store__cart-total {
  font-size: 20px;
  text-transform: uppercase;
}

.store__footer {
  position: relative;
  padding: 30px 20px;
  border-top: 2px dashed black;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.store__footer::before,
.store__footer::after {
  content: '';
  position: absolute;
  top: 0;
  border: 4px solid transparent;


}

.store__footer::before {
  left: 0;
  border-left: 7px solid black;
}

.store__footer::after {
  right: 0;
  border-right: 7px solid black;
}

.store__barcode {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

/**
 * store Animations
 */

@keyframes show-store {
 0% {
   opacity: 0;
   transform: scale(0) translateX(-50%);
 }

 85% {
   opacity: 0;
 }

 100% {
   opacity: 1;
   transform: scale(1) translateX(-50%);
 }
}

.store {
  transform-origin: top left;
  animation: show-store 1s ease-out forwards;
}

@keyframes show-subheader {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.store__subheader {
  opacity: 0;
  animation: show-subheader 1s 0.5s ease-out forwards;
}

@keyframes slide-down {
  to {
    transform: perspective(100px) rotateX(0) translate3d(0, 0, 0);
  }
}

.store__cart {
  background-color: #f8f8f8;

  transform-style: preserve-3d;
  transform-origin: top center;
  transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);

  animation: slide-down 0.4s 2s ease-out forwards;
}

.store__footer {
  background-color: #f8f8f8;

  transform-style: preserve-3d;
  transform-origin: top center;
  transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);

  animation: slide-down 0.4s 2.5s ease-out forwards;
}

@keyframes show-cart-title {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.store__cart-title {
  opacity: 0;
  transform: translateY(10px);

  animation: show-cart-title 0.5s 2.25s ease-in forwards;
}

@keyframes show-cart-item {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.store__cart-item {
  opacity: 0;
  transform: translateX(-30px);

  animation: show-cart-item 0.3s 2.75s ease-in forwards;
}




